
  <nb-card>
    <nb-card-header>
      <h1>Chember Name</h1>
    </nb-card-header>
    <nb-card-body>
      <p>Fee : 700</p>
      <p>Folowwing Fee : 700</p>
      <p>Report Review Fee : 700</p>
      <hr>
      <nb-tabset>
        <nb-tab tabTitle="Sunday">
            <p>Start Time</p>
            <p>End Time</p>
        </nb-tab>
        <nb-tab tabTitle="Monday">
          <p>Start Time</p>
          <p>End Time</p>
        </nb-tab>
        <nb-tab tabTitle="Tuesday">
          <p>Start Time</p>
          <p>End Time</p>
        </nb-tab>
        <nb-tab tabTitle="Wednesday">
          <p>Start Time</p>
          <p>End Time</p>
        </nb-tab>
        <nb-tab tabTitle="Thursday">
          <p>Start Time</p>
          <p>End Time</p>
        </nb-tab>
        <nb-tab tabTitle="Friday">
          <p>Start Time</p>
          <p>End Time</p>
        </nb-tab>
        <nb-tab tabTitle="Saturday">
          <p>Start Time</p>
          <p>End Time</p>
        </nb-tab>
       </nb-tabset>
    </nb-card-body>
    
    <nb-card-footer>
      <button nbButton (click)="close()">Close</button>
    </nb-card-footer>
  </nb-card>
